<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RBFrontCustomWorkFlow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>servlet.HelloWorld</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>approveRBFrontRequest</servlet-name>
    <servlet-class>servlet.approveRBFrontRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeOutput1</servlet-name>
    <servlet-class>servlet.MakeOutput1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadUserlist3</servlet-name>
    <servlet-class>servlet.UploadUserlist3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setConfig</servlet-name>
    <servlet-class>servlet.SetConfiguration</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ControlView</servlet-name>
    <servlet-class>servlet.ControlView</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ABMUpdate</servlet-name>
    <servlet-class>servlet.ABMUpdate</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>approveRBFrontRequest</servlet-name>
    <url-pattern>/approveRBFrontRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeOutput1</servlet-name>
    <url-pattern>/MakeOutput1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUserlist3</servlet-name>
    <url-pattern>/UploadUserlist3Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setConfig</servlet-name>
    <url-pattern>/setConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlView</servlet-name>
    <url-pattern>/ControlViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ABMUpdate</servlet-name>
    <url-pattern>/ABMUpdateServlet</url-pattern>
  </servlet-mapping>

  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

</web-app>